body {
  background-color: #070f26;
}

.container {
  background-color: #fff;
  width: 900px;
  margin: 0 auto;
  height: 100vh;
  padding: 20px;

  p {
    margin: 10px;
    line-height: 1.5rem;
  }
}
