$screen_width: 90vw;
$screen_height: calc($screen_width * (9 / 16));

.screen {
  width: $screen_width;
  height: $screen_height;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Courier', '游明朝';
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  .attention {
    font-size: 48px;

    span {
      font-size: 2rem;
    }
  }

  .character {
    font-size: $screen_height * 0.6;
  }

  .subtitle {
    height: fit-content;
    max-width: 70%;
    max-height: 70%;
    word-wrap: break-word;
    max-height: $screen_height * 0.7;
    span {
      display: inline-block;
    }
  }
}
